* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}

h1 {
  font-weight: 200;
  margin-bottom: $space;
}
h3 {
  font-size: 1.8rem;
  font-weight: 200;
  letter-spacing: 3px;
  margin-bottom: $space;
}

a {
  color: #000;
}

input[type='text'],
input[type='email'],
input[type='password'] {
  border: 1px solid #333;
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
  padding: $input-spacing;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}
