.item {
  background: $item-bg;
  border: 1px solid $item-border;
  margin-bottom: $space;
  padding: $space;
  border-radius: 0.5rem;
}

.item__header {
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: 200;
  text-align: center;
  margin-bottom: $space;
  color: #fff;
}

.item__paragraph {
  margin-bottom: $space;
}
